[Unit]
Description=Celery Beat Service
After=network.target redis.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/projects/braincount
Environment=CELERYBEAT_SCHEDULE_FILE=/projects/braincount/celerybeat-schedule
ExecStart=/projects/braincount/venv/bin/celery -A braincountBackend beat -l info --schedule=/projects/braincount/celerybeat-schedule
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 