[Unit]
Description=Celery Beat Service
After=network.target redis.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/projects/braincount
ExecStart=/projects/braincount/venv/bin/celery -A braincountBackend beat -l info
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 